* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  font-family: 'Press Start 2P', cursive;
}

button:hover {
  color: rgba(0, 0, 0, 0.815);
  font-size: 13px;
  border: 4px solid rgba(0, 0, 0, 0.685);
  border-right-color: red;
  border-bottom-color: red;
  box-shadow: 10px 7px 0px 0px rgb(255 0 0 / 25%);
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(32, 2fr);
  grid-template-rows: repeat(32, 2fr);
  background-color: rgba(255, 255, 255, 255);
  height: 760px;
  width: 760px;
  margin-block: auto;
  border: 4px solid rgba(0, 0, 0, 0.671);
  border-radius: 3px;
  border-left-color: red;
  border-top-color: red;
  box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 3%);
}

.heading  {
  width: auto;
  margin: auto;
  font-size: 50px;
  line-height: 150px;
  color: rgba(0, 0, 0, 0.692);
}

.red  {
  display: inline;
  color: red;
  font-size: 50px;
}

.divGrid  {
  background-color: rgba(255, 255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.055);
}

.resetBtn {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.815);
  border: 4px solid rgba(0, 0, 0, 0.671);
  border-radius: 4px;
  line-height: 15px;
  height: 50px;
  width: 105px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-right: 200px;
  border-left-color: red;
  border-top-color: red;
}

.resetDiv {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 150px;
  margin-left: 125px;
}

.rainbowBtn {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.815);
  border: 4px solid rgba(0, 0, 0, 0.671);
  border-radius: 4px;
  height: 50px;
  width: 105px;
  margin-left: 150px;
  margin-right: 200px;
  border-left-color: red;
  border-top-color: red;
}

.blueBtn  {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.815);
  border: 4px solid rgba(0, 0, 0, 0.671);
  border-radius: 4px;
  height: 50px;
  width: 105px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 200px;
  border-left-color: red;
  border-top-color: red;
}

.shadingBtn {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.815);
  border: 4px solid rgba(0, 0, 0, 0.671);
  border-radius: 4px;
  height: 50px;
  width: 105px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 200px;
  border-left-color: red;
  border-top-color: red;
}

.eraserBtn  {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.815);
  border: 4px solid rgba(0, 0, 0, 0.671);
  border-radius: 4px;
  height: 50px;
  width: 105px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 200px;
  border-left-color: red;
  border-top-color: red;
}

#slider {
  -webkit-appearance: none;
  width: 150px;
  height: 10px;
  margin-top: 50px;
  margin-left: 125px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.541);
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 25px; 
  height: 25px; 
  background: rgb(241, 62, 62); 
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
}

#slider::-webkit-slider-thumb:hover {
  -webkit-appearance: none; 
  width: 25px; 
  height: 25px; 
  background: rgb(100, 95, 95); 
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0);
}

#slider::-moz-range-thumb {
  -webkit-appearance: none; 
  width: 25px; 
  height: 25px; 
  background: rgba(0, 0, 0, 0.671); 
  border-radius: 15px;
  border: 4px solid rgba(0, 0, 0, 0.068);
}

.sliderValue  {
  color: rgba(0, 0, 0, 0.692);
  margin-top: 20px;
  font-size: 16px;
  margin-left: 105px;
}

.grid-on-off  {
  color: rgba(0, 0, 0, 0.753);
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 148px;
}

#grid-switch  {
  -webkit-appearance: none;
  width: 50px;
  height: 22px;
  margin-left: 175px;
  margin-bottom: 35px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(3, 3, 3, 0.212);
  pointer-events: none;
}

#grid-switch::-webkit-slider-thumb  {
  -webkit-appearance: none;
  pointer-events: all;
  width: 25px; 
  height: 20px; 
  background: white; 
  border-radius: 7px;
  background-color: rgba(255, 0, 0, 0.904);
  border: 2.5px solid black;
}

#grid-switch::-moz-range-thumb  {
  -webkit-appearance: none;
  pointer-events: all;
  width: 25px; 
  height: 20px; 
  background: white; 
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.904);
  border: 2px solid black;
}

.hideGrid {
  border: none;
}